node_modules/
.data/
dist/
caddy.log
.env
test-results/
playwright-report/
env.prod.yaml
env.staging.yaml
env.yaml
fedcm-demo-idp/.data
fedcm-demo-idp-2/.data
fedcm-demo-idp/.env
fedcm-demo-idp-2/.env
fedcm-demo-rp/.env
fedcm-demo-idp/node_modules
fedcm-demo-idp-2/node_modules
fedcm-demo-rp/node_modules
